.env
*.log
node_modules/
dist/
dist_electron/
build/
__pycache__/
.DS_Store
data.json
bot_error.txt
bot_output.txt
bot_pid.txt
*.mp4
git
ZeroxAiApp/
.idea/
cd
railway
zerox-code/dist-electron/
zerox-code/dist-react/
zerox-code/node_modules/
